<?xml version="1.0"?>
<config>
    <modules>
        <Pixelperfect_Importer>
             <version>0.1.0</version>
        </Pixelperfect_Importer>
    </modules>
    <admin>
    </admin>
    <global>
        <models>
            <importer>
                <class>Pixelperfect_Importer_Model</class>
                <resourceModel>importer_entity</resourceModel>
            </importer>
            <importer_entity>
                <class>Pixelperfect_Importer_Model_Entity</class>
                <entities>
                </entities>
            </importer_entity>
        </models>
        <blocks>
            <importer>
                <class>Pixelperfect_Importer_Block</class>
            </importer>
        </blocks>
        <helpers>
            <importer>
                <class>Pixelperfect_Importer_Helper</class>
            </importer>
        </helpers>
        <resources>
            <pixelperfect_importer_setup>
                <setup>
                    <module>Pixelperfect_Importer</module>
                    <class>Pixelperfect_Importer_Model_Entity_Setup</class>
                </setup>
            </pixelperfect_importer_setup>
        </resources>
    </global>
    <adminhtml>
    </adminhtml>
    <frontend>
        <events></events>
        <routers></routers>
        <translate>
            <modules>
                <Pixelperfect_Importer>
                    <files>
                        <default>Pixelperfect_Importer.csv</default>
                    </files>
                </Pixelperfect_Importer>
            </modules>
        </translate>
        <layout></layout>
    </frontend>
    <default>
        <importer>
        </importer>
    </default>
    <phpunit>
        <suite>
            <modules>
                 <Pixelperfect_Importer />
            </modules>
        </suite>
    </phpunit>
</config>